In [ ]:
#week 2.2 Extra Assignment-2-Level-2-python

In [53]:
#range
for my_temp_i in range(10):
    print(my_temp_i)

0
1
2
3
4
5
6
7
8
9

In [10]:
#print range 10 to 20
for my_temp_i in range(10,20):
    print(my_temp_i,end=" ")

10 11 12 13 14 15 16 17 18 19

In [15]:
# Print number of items in the list by using 'len'
my_list1=[40, 30, 18, 58, 48, 97, 96,32]
print(my_list1)
print("Number of item in the List1:",len(my_list1))

[40, 30, 18, 58, 48, 97, 96, 32]
Number of item in the List1: 8

In [19]:
#charater split
my_name=str(input("Enter Name:"))
print(my_name)
for my_temp_i in my_name:
    print(my_temp_i)

Enter Name: Ai Subramani

Ai Subramani
A
i

S
u
b
r
a
m
a
n
i

In [21]:
# Print datatype using list
my_list = ["-Your Name-", "-Your Age-", "-Your Profession-"]
for my_temp_i in my_list:
    print(my_temp_i)

-Your Name-
-Your Age-
-Your Profession-

In [42]:
# Print This mixered datatype using Tuples
my_tuple = (1, 'Welcome', 2, 'Ai Subramani')
print(my_tuple)

(1, 'Welcome', 2, 'Ai Subramani')

In [46]:
# Refer this link : https://www.geeksforgeeks.org/python-tuples/
my_tuple1 = (0, 1, 2, 3)
my_tuple2 = ('python', 'HOPE')
my_tuple3 = (my_tuple1,my_tuple2)
print(my_tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [50]:
# print Odd Numbers in the list
my_list1=[20,10,16,19,25,1,276,188]
print(tuple(my_list1))
for my_i in my_list1:
    if((my_i%2)==1):
        print(my_i,"is odd number")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd number
25 is odd number
1 is odd number

In [51]:
# print even Numbers in the list
my_list1=[20,10,16,19,25,1,276,188]
print(tuple(my_list1))
for my_i in my_list1:
    if((my_i%2)==0):
        print(my_i,"is even number")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even number
10 is even number
16 is even number
276 is even number
188 is even number