# T- Test
What is a t-test?
A t-test is a statistical test used to determine whether there is a significant difference between the means of two groups.

When to Use a t-test-
You are comparing two groups or conditions
Your data is continuous (e.g., height, score, salary)
You have a small sample size (usually < 30)
The data roughly follows a normal distribution

Type=When to Use,Example
1️⃣ One-sample t-test=Compare the mean of one group to a known value,Ex. Is the average height of a sample of students = 170 cm?
2️⃣ Independent two-sample t-test=Compare means of two independent groups, Ex. Do male and female students have different average scores?
3️⃣ Paired t-test=Compare means of the same group before and after something, Ex. Did students' test scores improve after training?

If p-value < 0.05, it means the difference between the two groups is statistically significant.

In [2]:
import pandas as pd
dataset=pd.read_csv("PrePlacement.csv")
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,0.0
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,0.0

In [4]:
dataset.isnull().sum()

sl_no             0
gender            0
ssc_p             0
ssc_b             0
hsc_p             0
hsc_b             0
hsc_s             0
degree_p          0
degree_t          0
workex            0
etest_p           0
specialisation    0
mba_p             0
status            0
salary            0
dtype: int64

In [8]:
dataset[dataset['gender']=="M"]['salary']

0      270000.0
1      200000.0
2      250000.0
3           0.0
4      425000.0
         ...
209    216000.0
210    400000.0
211    275000.0
212    295000.0
214         0.0
Name: salary, Length: 139, dtype: float64

# Independant sample - Unpaired T Test
Differrent Group(Male, Famale) but same condition(salary)

In [19]:
from scipy.stats import ttest_ind
dataset=dataset.dropna()
male=dataset[dataset['gender']=="M"]['salary']
female=dataset[dataset['gender']=="F"]['salary']
t_stat, p_val=ttest_ind(male, female)
print("t-statistic:", t_stat)
print("p-value:", p_val)

t-statistic: 2.0937842507001165
p-value: 0.03746230397067219

In [20]:
# Differrent Group(Others, Central) but same condition(salary)
Others=dataset[dataset['ssc_b']=="Others"]['salary']
Central=dataset[dataset['ssc_b']=="Central"]['salary']
t_stat, p_val=ttest_ind(Others, Central)
print("t-statistic:", t_stat)
print("p-value:", p_val)

t-statistic: 0.6182213205902315
p-value: 0.5370899470596882

# Dependant sample - Paired T Test
Same Group(Male) but different condition( 10th 12th mark)

In [22]:
from scipy.stats import ttest_rel
dataset=dataset.dropna()
male_1=dataset[dataset['gender']=="M"]['ssc_p']
male_2=dataset[dataset['gender']=="M"]['hsc_p']
t_stat, p_val=ttest_rel(male_1, male_2)
print("t-statistic:", t_stat)
print("p-value:", p_val)

t-statistic: 0.6842940392688153
p-value: 0.4949370716000775

In [21]:
#Same Group(Commerce student) but different condition( mba mark , enterance test mark)
Commerce_1=dataset[dataset['hsc_s']=="Commerce"]['mba_p']
Commerce_2=dataset[dataset['hsc_s']=="Commerce"]['etest_p']
t_stat, p_val=ttest_rel(Commerce_1, Commerce_2)
print("t-statistic:", t_stat)
print("p-value:", p_val)

t-statistic: -7.868552092606871
p-value: 2.462926468454984e-12