In [2]:
#if statement
if():
    print()

In [5]:
#if statement
my_age=int(input("Enter age:"))
if(my_age==18):
    print("Adult")

Enter age: 18

Adult

In [ ]:
#if statement
if(condition):
    print()
else:
    print()

In [6]:
for temp in range(1,10):
    print(temp)

1
2
3
4
5
6
7
8
9

In [ ]:
def():

In [11]:
#if-else
age=int(input("Input age:"))
if(age<18):
    print("children")
else:
    print("Adult")

Input age: 18

Adult

In [ ]:
#if-elif
age=int(input("Input age:"))
if(age<18):
    print("children")
elif(age<35):
    print("Adult")
elif(age<59):
    print("Citizen")    
else:
    print("Senior Citizen")

hi how are

In [ ]:
my_list=[10,30,50,20]

In [18]:
#for loop
my_lists=[10,25,45,70]
my_main_variables=my_lists;
for my_temp_variable in my_main_variables:
    print(my_temp_variable)

10
30
50
20

In [19]:
my_lists=[10,25,45,70]
for my_temp_variable in my_lists:
    print(my_temp_variable)
    age=my_temp_variable
    if(age<18):
        print("children")
    elif(age<35):
        print("Adult")
    elif(age<59):
        print("Citizen")    
    else:
        print("Senior Citizen")

10
children
25
Adult
45
Citizen
70
Senior Citizen

In [22]:
#Find the odd or even number
my_number=int(input("Enter Number:"))
if((my_number%2)==0):
    print(my_number,"is Even Number")
else:
    print(my_number,"is Odd Number")

Enter Number: 10

10 is Even Number

In [23]:
my_number=7
print(my_number%2,"Module")
print(my_number/2,"divison")

1 Module
3.5 divison

In [27]:
#range range(start,stop,step)
for num in range(1,5):
    print(num)

1
2
3
4

In [ ]:
for num in range(-1,5):
    print(num)

In [30]:
for num in range(1,5,2):
    print(num)

1
3

In [34]:
for num in range(1,3,2):
    print(num)

1

In [38]:
my_tuple=tuple("GOD")
print(my_tuple)
print(my_tuple[::-1])
print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[0:2])
print(my_tuple[:2])
my_tuple1=("GOD","Love","YES")
print(my_tuple1)
print(my_tuple1[0:1])
print(my_tuple1[1:3])

('G', 'O', 'D')
('D', 'O', 'G')
G
D
('G', 'O')
('G', 'O')
('GOD', 'Love', 'YES')
('GOD',)
('Love', 'YES')

In [ ]:
#-------

In [1]:
#Python Dictionary
#key Value
my_dic={1:"GOD",2:"is",3:"Love"}
print(my_dic)

{1: 'GOD', 2: 'is', 3: 'Love'}

In [27]:
print("God is love")
dic={1:"God",2:"is",3:"Love"}
print(dic)
dic={1:"God",2:"is",3:{1:"Love",2:"Guru"}}
print(dic)
print(dic[1])
dic1=dict(a="God",b="is",c="Love")
print(dic1)
dic1={ "name": "Prajjwal", 1: "Python", (1, 2): [1,2,4] }
print(dic1)

God is love
{1: 'God', 2: 'is', 3: 'Love'}
{1: 'God', 2: 'is', 3: {1: 'Love', 2: 'Guru'}}
God
{'a': 'God', 'b': 'is', 'c': 'Love'}
{'name': 'Prajjwal', 1: 'Python', (1, 2): [1, 2, 4]}

In [5]:
dic1={ "name": "Prajjwal", 1: "Python", (1, 2): [1,2,4] }
print(dic1)
print(dic1.get("name"))
print(dic1["name"])

{'name': 'Prajjwal', 1: 'Python', (1, 2): [1, 2, 4]}
Prajjwal
Prajjwal

In [18]:
dic={1:"God",2:"is",3:"Love"}
print(dic)
dic[4]="Guru"
print(dic)
dic[4]="All"
print(dic)
dic={'a':"God",'b':"is",'c':"Love"}
print(dic)

dic={1:"God",2:"is",3:"Love"}
print(dic)
del dic[1]
print(dic)
key,val=dic.popitem()
print(key)
print(f"Key: {key}, Value: {val}")
dic.clear()
print(dic)

dic={1:"value","b":"val2"}
print(dic)

{1: 'God', 2: 'is', 3: 'Love'}
{1: 'God', 2: 'is', 3: 'Love', 4: 'Guru'}
{1: 'God', 2: 'is', 3: 'Love', 4: 'All'}
{'a': 'God', 'b': 'is', 'c': 'Love'}
{1: 'God', 2: 'is', 3: 'Love'}
{2: 'is', 3: 'Love'}
3
Key: 3, Value: Love
{}
{1: 'value', 'b': 'val2'}

In [25]:
dic={'a':"God",'b':"is",'c':"Love"}
print(dic)
for key in dic:
    print(key)
for val in dic.values():
    print(val)
for key,val in dic.items():
    print(key,val)

{'a': 'God', 'b': 'is', 'c': 'Love'}
a
b
c
God
is
Love
a God
b is
c Love

In [40]:
dic={1:"God",2:"is",3:{1:"Love",2:"Guru"}}
print(dic)
print(dic[1])
val=dic.pop(1)
print(dic)
print("val")
print(val)
print(dic[3])
print(dic[3][2])
del dic[3]
print(dic)

{1: 'God', 2: 'is', 3: {1: 'Love', 2: 'Guru'}}
God
{2: 'is', 3: {1: 'Love', 2: 'Guru'}}
val
God
{1: 'Love', 2: 'Guru'}
Guru
{2: 'is'}

In [53]:
dic={1:"a",2:"b"}
print(dic)
dic[3]="c"
print(dic)
dic[3]="d"
print(dic)
del dic[3]
print(dic)
dic[3]="c"
print(dic)

for key in dic:
    print(key)
for val in dic.values():
    print(val)
for key, val in dic.items():
    print(key,val)

dic.clear()
print(dic)

{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 3: 'c'}
{1: 'a', 2: 'b', 3: 'd'}
{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 3: 'c'}
1
2
3
a
b
c
1 a
2 b
3 c
{}

In [76]:
a=[1,2,'a']
print(a)
print(a[0])
a.append('b')
print(a)
a.insert(3,'d')
print(a)
a.extend([7,8,9])
print(a)
for li in a:
    print(li)

[1, 2, 'a']
1
[1, 2, 'a', 'b']
[1, 2, 'a', 'd', 'b']
[1, 2, 'a', 'd', 'b', 7, 8, 9]
1
2
a
d
b
7
8
9

In [81]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]
print(matrix)
print(matrix[0][2])
print(matrix[1][2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
3
6

In [82]:
a=[i for i in range(10)]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
a=[(i,j)for i in range(2) for j in range(2)]
print(a)

[(0, 0), (0, 1), (1, 0), (1, 1)]

In [94]:
c = 2 + 4j
print(type(c))
print(c)

<class 'complex'>
(2+4j)

In [106]:

dic={1:"a",2:"b",3:"d"}
print(dic)
for i in dic:
    print(i)

for i,j in dic.items():
    #print("%s  %d" % (i, d[i]))
    print(i,j)

{1: 'a', 2: 'b', 3: 'd'}
1
2
3
1 a
2 b
3 d

1
2
(2+4j)

In [108]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [110]:
n=1
while(n<3):
    print(n)
    n+=1
else:
    print("end")

1
2
end

In [112]:
for i in range(1,5):
    for j in range(i):
        print(i,end="")
    print()

1
22
333
4444

In [115]:
for i in "LOVE":
    if(i=='V'):
        #continue
        break
    print(i)

L
O

In [128]:
a="love"
print(a)
print(a[1:2])
a="L"+a[1:]
print(a)
a=a.replace("Love"," LOVE YOU ")
print(a)
print(len(a))
print(a.upper())
print(a.lower())
print(a.strip())
print(a*3)

love
o
Love
 LOVE YOU
10
 LOVE YOU
 love you
LOVE YOU
 LOVE YOU  LOVE YOU  LOVE YOU

In [136]:
#file handle
f=open("ssfile.txt","r")
print(f)
content=f.read()
print(content)

print("Filename:", f.name)
print("Mode:", f.mode)
print("Is Closed?", f.closed)

f.close()
print("Is Closed?", f.closed)
#for i in content:
#    print(i)

<_io.TextIOWrapper name='ssfile.txt' mode='r' encoding='cp1252'>
hai I am Subramani
inside file
Filename: ssfile.txt
Mode: r
Is Closed? False
Is Closed? True

In [144]:
try:
    file1 = open("ssfile.txt", "r")
    content = file1.readlines()
    for line in content:
        print(line)
finally:
    file1.close()

hai I am Subramani

inside file

In [151]:
myfile=open("ssfile.txt","r")
#print(myfile.read())
#print(myfile.readlines())
for line in myfile.readlines():
    print(line)
    
myfile.close()

hai I am Subramani

inside file

In [155]:
myfile=open("ssfile.txt","a")
myfile.write("\nNew line added")
#print(myfile.read())
#print(myfile.readlines())
#for line in myfile.readlines():
#    print(line)
    
myfile.close()

In [185]:
myfile=open("ssfile_new1.txt","x")
myfile.write("\nNew line added2")
#print(myfile.read())
#print(myfile.readlines())
#for line in myfile.readlines():
#    print(line)
    
myfile.close()

In [160]:
for i in range(3):
    print(i)

0
1
2

In [161]:
print("ss"+"rr")

ssrr

In [165]:
if 0:
    print("hello")
else:
    print("world")

world

In [186]:
x=lambda a:a+10
print(x)
print(x(10))
#y=lambda a:if(a==

<function <lambda> at 0x000001DE7A2ABA60>
20

In [174]:
"""
        Python Q/A
"""
#1.How do you get a list of all the keys in a dictionary
dictionary = {"a": 1, "b": 2, "c": 3}
keys = list(dictionary.keys()) 
print(keys)

['a', 'b', 'c']

In [176]:
num=(1,2,4,5,6,6,7,8)
div_by_3=tuple(filter(lambda x:x%3==0,num))
print(div_by_3)

(6, 6)

In [177]:
'''2. Write a program to filter out the number divisible by 3 from a
tuple using lambda function'''
num=(1,2,4,5,6,6,7,8)
div=lambda x:x%3==0
div_by_3=tuple(filter(div,num))
print(div_by_3)

(6, 6)

In [183]:
'''3. Why do we need different data types in python
Different data types in Python are necessary to handle various
kinds of data appropriately, ensuring efficient storage and
operations. For example, 
integers for counting, 
floats for decimal numbers, 
strings for text, 
lists for ordered collections, and
dictionaries for key-value pairs'''

print(type(23))
print(type(23.3))
print(type("Hello"))
list1=[1,2,3]
print(type(list1))
tuple1=(1,2,3)
print(type(tuple1))
dic={1:"a",2:"b",3:"c"}
print(type(dic))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [187]:
mylist=[1,7,4,5,6]
sqlist=list(map(lambda x:x**2,mylist))
print(mylist)
print(sqlist)

[1, 7, 4, 5, 6]
[1, 49, 16, 25, 36]

In [188]:
mylist=[1,2,3,4,5,6,7]
oddlist=list(filter(lambda x:x%2==1,mylist))
evenlist=list(filter(lambda x:x%2==0,mylist))
print(oddlist)
print(evenlist)

[1, 3, 5, 7]
[2, 4, 6]

In [189]:
mylist=[1,7,4,5,6]
print(mylist)
sq_list=[x**2 for x in mylist]
print(sq_list)

[1, 7, 4, 5, 6]
[1, 49, 16, 25, 36]

In [191]:
mylist=[1,7,4,5,6]
print(mylist)
odd_list=[x for x in mylist if x%2==1]
even_list=[x for x in mylist if x%2==0]
print(odd_list)
print(even_list)

[1, 7, 4, 5, 6]
[1, 7, 5]
[4, 6]

In [200]:
#sets
myset={2,3,5,5,6,7,8}
print(myset)
mylist=[1,3,3,5,5,6,6]
print(mylist)
print(set(mylist))

a={1,2,3,4}
b={3,4,5,6}
print(a,b)
print(a | b)   # Union -> {1, 2, 3, 4, 5, 6}
print(a & b)   # Intersection -> {3, 4}
print(a - b)   # Difference -> {1, 2}
print(b - a)   # Difference -> {1, 2}
print(a ^ b)   # Symmetric difference -> {1, 2, 5, 6}

{2, 3, 5, 6, 7, 8}
[1, 3, 3, 5, 5, 6, 6]
{1, 3, 5, 6}
{1, 2, 3, 4} {3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{5, 6}
{1, 2, 5, 6}

In [192]:
s = "hello"
print(id(s))      # memory address
s = s + " world"  # creates new object
print(s)          # "hello world"
print(id(s))      # different memory address

2054978946848
hello world
2055044135984

In [193]:
class person:
    def __init__(self, name, age):
        self.name=name
        self.age=age
obj1=person("Ram",25)
obj2=person("Mani",10)
print(obj1.name,obj1.age)
print(obj2.name,obj2.age)

Ram 25
Mani 10

In [201]:
#error handling
#print(10/0)
try:
    print(10/0)
except ZeroDivisionError:
     print("You cannot divide by zero!")

ZeroDivisionError: division by zero

In [198]:
#a=int("subramani")
try:
    a=int("subramani")
except ValueError:
    print("string can't change into Number")

string can't change into Number

In [202]:
class Bird:
    def sound(self):
        print("Chirp")

class Dog:
    def sound(self):
        print("Bark")

for animal in [Bird(), Dog()]:
    animal.sound()

Chirp
Bark

In [224]:
#from collections import OrderedDict

od = {}
od["cherry"] = 1
od["banana"] = 6
od["apple"] = 2

print(od)
print(dict(sorted(od.items())))
new=dict(sorted(od.items(), key=lambda item: item[1]))
print(new)
print(dict(sorted(od.items(),reverse=True)))
#print(dict(sorted(od.key()))

{'cherry': 1, 'banana': 6, 'apple': 2}
{'apple': 2, 'banana': 6, 'cherry': 1}
{'cherry': 1, 'apple': 2, 'banana': 6}
{'cherry': 1, 'banana': 6, 'apple': 2}

In [234]:
od1 = {}
od1[1] = "cherry"
od1[6] = "banana"
od1[2] = "apple"
print(od1)
print(dict(sorted(od1.items())))
new1=dict(sorted(od1.items(), key=lambda item: item[1]))
print(new1)
print(dict(sorted(new1.items(),reverse=True)))

{1: 'cherry', 6: 'banana', 2: 'apple'}
{1: 'cherry', 2: 'apple', 6: 'banana'}
{2: 'apple', 6: 'banana', 1: 'cherry'}
{6: 'banana', 2: 'apple', 1: 'cherry'}

In [240]:
d={3:"bee",1:"cee",2:"aeee"}
print(d)
print(dict(sorted(d.items())))
print(dict(sorted(d.items(),reverse=True)))
print(dict(sorted(d.items(),key=lambda item:item[1])))

{3: 'bee', 1: 'cee', 2: 'aeee'}
{1: 'cee', 2: 'aeee', 3: 'bee'}
{3: 'bee', 2: 'aeee', 1: 'cee'}
{2: 'aeee', 3: 'bee', 1: 'cee'}

In [248]:
a=[3,4,5,5,2,1]
print(a)
print(sorted(a))
a.sort(reverse=True)
print(a)

[3, 4, 5, 5, 2, 1]
[1, 2, 3, 4, 5, 5]
[5, 5, 4, 3, 2, 1]

In [253]:
a=['Aaa','err','bee']
print(a)
print(sorted(a))
print(sorted(a,reverse=True))

['Aaa', 'err', 'bee']
['Aaa', 'bee', 'err']
['err', 'bee', 'Aaa']

In [260]:
import array
ar=array.array("i",[3,4,5,1])
print(ar)
print(type(ar))
print(sorted(ar))
print(sorted(ar,reverse=True))

array('i', [3, 4, 5, 1])
<class 'array.array'>
[1, 3, 4, 5]
[5, 4, 3, 1]

In [265]:
tup=("c","a","b")
print(tup)
print(type(tup))
print(sorted(tup))
print(sorted(tup,reverse=True))

('c', 'a', 'b')
<class 'tuple'>
['a', 'b', 'c']
['c', 'b', 'a']

In [271]:
ml=[1,3,4,5,6]
print(ml)
sl=[x**2 for x in ml]
print(sl)
s2=list(map(lambda x:x**2,ml))
print(s2)

[1, 3, 4, 5, 6]
[1, 9, 16, 25, 36]
[1, 9, 16, 25, 36]

In [278]:
import array
a=array.array("i",[1,9,5,2])
print(a)
print(a[0])
a[0]=8
print(a)
del a[0]
print(a)
print(sorted(a,reverse=True))

array('i', [1, 9, 5, 2])
1
array('i', [8, 9, 5, 2])
array('i', [9, 5, 2])
[9, 5, 2]

In [283]:
ml=[1,3,4,5,6]
print(ml)
for ls in ml:
    print(ls)
ml.remove(5)
#del ml
print(ml)

[1, 3, 4, 5, 6]
1
3
4
5
6
[1, 3, 4, 6]

In [285]:
num=(1,2,4,5,6,9,1,12)
d3=tuple(filter(lambda x:x%3==0,num))
print(d3)

(6, 9, 12)

In [288]:
dictionary = {"a": 1, "b": 2, "c": 3}
keys = list(dictionary.keys()) 
print(keys)

['a', 'b', 'c']

In [290]:
x=2
if x<4:
    print("yes")

yes

In [347]:
#prime or not
num=11
num1=num
if(num>1):
    for i in range(2,int(num**0.5) + 1):
        temp=int(num1**0.5)+1;
        print(num,temp,i,"Not Prime Number2")
        #for i in range(2,num):
           # print(num,int(num**0.5),"Not Prime Number1")        
else:
    print(num,"Not Prime Number-1")

11 4 2 Not Prime Number2
11 4 3 Not Prime Number2

In [350]:
import math
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

for num in range(1, 10):   # primes between 1 and 50
    print(math.factorial(num), end=" ")
    #for num in range(1, 10):
#    print(num,math.sqrt(num)+1)
#3,5

1 2 6 24 120 720 5040 40320 362880

In [387]:
import math
n=6
if(n<=1):
    print(n,"Not Prime")
for i in range(2, int(math.sqrt(n))+1):
    print(n,"Prime")
print("Primelast")

6 Prime
Primelast

In [ ]:
#3,5,7

In [393]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True
print(is_prime(2))   # True
for num in range(1, 20):
    if is_prime(num):
        print(num, "prime")

True
2 prime
3 prime
5 prime
7 prime
11 prime
13 prime
17 prime
19 prime

In [398]:
import math

def is_prime1(n):
    if n <= 1:
        return False
        print("Not Prime")
    for i in range(2, int(math.sqrt(n)) + 1):
        if n % i == 0:
            return False
            print("Not Prime")
    return True
    print("Prime")

for num in range(1, 15):
    if is_prime1(num):
        print(num, end=" ")
print(is_prime1(2))
#if is_prime(2):
    #print(num, end=" ")

2 3 5 7 11 13 True

In [409]:
import math
def PrimeNum(n):
    if(n<=1):
        return False
    for i in range(2,int(math.sqrt(n))+1):
        if n%i==0:
            return False
    return True
for n in range(15):
    if(PrimeNum(n)):
        print(n,"Prime Number")
print(PrimeNum(11))

2 Prime Number
3 Prime Number
5 Prime Number
7 Prime Number
11 Prime Number
13 Prime Number
True

In [422]:
def myfactorial(n):
    if n==0:
        return 1
    elif n<0:
        return ""
    else:
        return n*myfactorial(n-1)
print(myfactorial(5))

120

In [424]:
#composite number

import math
def PrimeNum(n):
    if(n<=1):
        return False
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return False
    return True

for i in range(1,11):
    if(PrimeNum(i)==False):
        print(i,end=" ")

1 4 6 8 9 10

In [426]:
def is_leap_year(year):
    return ((year%4==0) and (year%100!=0))or(year%400==0)

print(is_leap_year(2024))  # True
print(is_leap_year(1900))  # False
print(is_leap_year(2025)) # True

True
False
False

In [431]:
#palindrome
def is_palindrome(s):
    b=(s==s[::-1])
    if(b==True):
        return "Palindrome"
    else:
        return "-No-"
list=["madam","cool","noon"]
for n in list:
    print(n,is_palindrome(n))

madam Palindrome
cool -No-
noon Palindrome

In [433]:
from functools import reduce
li=[1,2,3]
p=reduce(lambda x,y:x*y,li)
print(p)

6

In [446]:
square = lambda x: x * x
print(square(5))   # 25

nums = [1, 2, 3, 4, 5, 6]
evens = list(filter(lambda x:x % 2 == 0, nums))
print(evens)   # [2, 4, 6]

nums = [1, 2, 3, 4]
squares = list(map(lambda x: x**2, nums))
print(squares)   # [1, 4, 9, 16]

from functools import reduce
nums = [1, 2, 3, 4, 5]
product = reduce(lambda x, y: x * y, nums)
print(product)   # 120

25
[2, 4, 6]
[1, 4, 9, 16]
120

In [445]:
nums = [1, 2, 3, 4, 5, 6]
evens = list(filter(lambda x1:x1 % 2 == 0, nums))
print(evens)   # [2, 4, 6]

[2, 4, 6]

In [444]:
# Example: Filter even numbers from a list
n = [1, 2, 3, 4, 5, 6]
even = filter(lambda x: x % 2 == 0, n)
print(list(even))

[2, 4, 6]

In [443]:
del list
n = [1, 2, 3, 4, 5, 6]
even = filter(lambda x: x % 2 == 0, n)
print(list(even))

[2, 4, 6]

In [447]:
#49.Find the second-highest salary
import pandas as pd
# Sample data
data = {'Employee': ['A', 'B', 'C', 'D'],
'Salary': [1000, 2000, 3000, 4000]}
df = pd.DataFrame(data)
# Find the second-highest salary
second_highest_salary = df['Salary'].nlargest(2).iloc[-1]
print(second_highest_salary)

3000

In [488]:
sal_dic={'A':1000, 'B':2000, 'C':3000, 'D':4000}
print(sal_dic)
print(sorted(set(sal_dic.keys()))[-2])
#mm=[key for key, value in sal_dic]
#print((sorted(set(sal_dic.values())))[-1])

{'A': 1000, 'B': 2000, 'C': 3000, 'D': 4000}
C

In [458]:
my_dict = {'apple': 5, 'banana': 10, 'cherry': 10, 'date': 8}
sort_val=sorted(set(my_dict.values()),reverse=True)
print(sort_val)

[10, 8, 5]

In [487]:
#sample salary data
sal_dic={'Ram':1000, 'Raj':2000, 'Rani':3000, 'Mani':4000,'Siva':3000}
#find second highest salary
sec_high=sorted(set(sal_dic.values()))[-2]
print("2nd Highest Salary :",sec_high,"to :",end=" ")
print([key for key, value in sal_dic.items() if value == sec_high] )

2nd Highest Salary : 3000 to : ['Rani', 'Siva']

In [490]:
emails=['a@ex.com', 'b@ex.com','a@ex.com', 'c@ex.com','a@ex.com','b@ex.com']
duplicates=list(set([w for w in emails if emails.count(w)>1]))
print(duplicates)

['b@ex.com', 'a@ex.com']

In [504]:
from collections import Counter
emails=['a@eg.com', 'b@eg.com','a@eg.com', 'c@eg.com','a@eg.com','b@eg.com']
e_counts=Counter(emails)
print(e_counts)
for email,counts in e_counts.items():
    if counts>1:
        print(f"E-mail: {email} is {counts} times")

Counter({'a@eg.com': 3, 'b@eg.com': 2, 'c@eg.com': 1})
E-mail: a@eg.com is 3 times
E-mail: b@eg.com is 2 times

In [506]:
import pandas as pd
# Sample data
data = {'Score': [10, 20, 40, 50, 70, 80, 90, 100]}
df = pd.DataFrame(data)
# Define the bins and labels
bins = [0, 50, 75, 90, 100]
labels = ['<50', '<75', '<90', '<100']
# Create a new column with the bucket labels
df['Bucket'] = pd.cut(df['Score'], bins=bins, labels=labels, right=False)
# Calculate cumulative percentage
cumulative_percentage =df['Bucket'].value_counts(normalize=True).sort_index().cumsum() *100
print(cumulative_percentage)

Bucket
<50      42.857143
<75      71.428571
<90      85.714286
<100    100.000000
Name: proportion, dtype: float64

In [508]:
a = [1, 2, 3]
a.append([4,6])
print(a)
a.extend([6,7])
print(a)

[1, 2, 3, [4, 6]]
[1, 2, 3, [4, 6], 6, 7]

In [509]:
import numpy as np

empty_array=np.array([])
print(empty_array)

[]

In [516]:
import numpy as np
import pandas as pd
array1 = np.array([[1, 2], [4, 5]])
print(array1)
# Convert to DataFrame
df = pd.DataFrame(array1, columns=['A', 'B'])
print(df)

[[1 2]
 [4 5]]
   A  B
0  1  2
1  4  5

In [519]:
import pandas as pd
slist=pd.Series([2,3,3,4,4,1,1])
fc=slist.value_counts()
print(fc)

3    2
4    2
1    2
2    1
Name: count, dtype: int64

In [521]:
import pandas as pd
import numpy as np
em_array=np.array([])
em_df=pd.DataFrame()
em_s=pd.Series()
print(em_array)
print(em_df)
print(em_s)

[]
Empty DataFrame
Columns: []
Index: []
Series([], dtype: object)

In [523]:
import pandas as pd
import numpy as np
em_array=np.array([1,2,3])
em_s=pd.Series()
em_df=pd.DataFrame(em_array)

print(em_array)
print(em_s)
print(em_df)

[1 2 3]
Series([], dtype: object)
   0
0  1
1  2
2  3