In [ ]:
#import lib
import pandas as pd
#read the file
#-----------
#  YearsExperience	Salary
#0	1.1	39343.0
#1	1.3	46205.0
#--------------
#data collection and preposssing
dataset=pd.read_csv("Salary_Data.csv")
#assign the table single coloum to one variable
#two coloum
#independent=dataset[["YearsExperience","Salary"]]

#split input data x
independent=dataset[["YearsExperience"]]
#split output data y
dependent=dataset[["Salary"]]

#import lib ML supprot for split train & test
from sklearn.model_selection import train_test_split
#call assign x-input y=output train test
x_train,x_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [3]:
import pandas as pd
#data collection
dataset=pd.read_csv("Salary_Data.csv")
#input/output split 
inputdata=dataset[["YearsExperience"]]
outputdata=dataset[["Salary"]]
#train test split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputdata,outputdata,test_size=0.30,random_state=0)

In [6]:
y_test

      Salary
2    37731.0
28  122391.0
13   57081.0
10   63218.0
26  116969.0
24  109431.0
27  112635.0
11   55794.0
17   83088.0

In [13]:
#data collection
import pandas as pd
dataset=pd.read_csv("Salary_Data.csv")
#input output split
input1=dataset[["YearsExperience"]]
output1=dataset[["Salary"]]

#train test split
from sklearn.model_selection import train_test_split 
x_train,x_test,y_tain,y_test=train_test_split(input1,output1,test_size=0.30,random_state=0)

#model creation
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

#weight print
weight=regressor.coef_
weight

#bais print
bais=regressor.intercept_
bais

#metrics
y_pred=regressor.predict(x_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
r_score

0.9740993407213511