In [2]:
num1=10
num2=30
add=num1+num2
print(add)
print(num1+num2)

40
40

In [3]:
a=b=c=10
my_name="subramani"
print(a)
print(a+b+c)
print(my_name,a)
my_list=["a1","b2","c3"]
a,b,c=my_list
print(a,b,c)
print(a+b+c)

10
30
subramani 10
a1 b2 c3
a1b2c3

In [4]:
num1=10
num2=30
add=num1+num2
print("add")
print(add)

add
40

In [5]:
#The addition of two number
my_number1=10
my_number2=20
print("The addition of two numbers")
print("The Number1:",my_number1)
print("The Number2:",my_number2)
print("The Answer:",my_number1+my_number2)

The addition of two numbers
The Number1: 10
The Number2: 20
The Answer: 30

In [6]:
my_num1=input("Enter the Num1:")
my_num2=input("Enter the Num2:")
print(my_num1+my_num2)
my_num1=int(input("Enter the Num1:"))
my_num2=int(input("Enter the Num2:"))
print(my_num1+my_num2)

Enter the Num1: 10
Enter the Num2: 20

1020

Enter the Num1: 10
Enter the Num2: 20

30

In [9]:
my_num1=int(input("Enter your number"))
my_num2=str(input("Enter your name"))

print(my_num1,my_num2)

Enter your number 10
Enter your name man

10 man