# <h1 style="color:red"> Inferential Analysis - Question and Answer with Python </h1>
<b>Justification or answer summary needed for every question</b> 

<h2 style="color:purple">Download the dataset </h2>
<h4 style="color:Blue"> Data Collection </h4>

In [2]:
import pandas as pd
import numpy as np
dataset=pd.read_csv("Placement.csv")
dataset

     sl_no gender  ssc_p    ssc_b  hsc_p    hsc_b  ... workex  etest_p specialisation  mba_p      status    salary
0        1      M  67.00   Others  91.00   Others  ...     No     55.0         Mkt&HR  58.80      Placed  270000.0
1        2      M  79.33  Central  78.33   Others  ...    Yes     86.5        Mkt&Fin  66.28      Placed  200000.0
2        3      M  65.00  Central  68.00  Central  ...     No     75.0        Mkt&Fin  57.80      Placed  250000.0
3        4      M  56.00  Central  52.00  Central  ...     No     66.0         Mkt&HR  59.43  Not Placed       NaN
4        5      M  85.80  Central  73.60  Central  ...     No     96.8        Mkt&Fin  55.50      Placed  425000.0
..     ...    ...    ...      ...    ...      ...  ...    ...      ...            ...    ...         ...       ...
210    211      M  80.60   Others  82.00   Others  ...     No     91.0        Mkt&Fin  74.49      Placed  400000.0
211    212      M  58.00   Others  60.00   Others  ...     No     74.0        Mkt&Fin  53.62      Placed  275000.0
212    213      M  67.00   Others  67.00   Others  ...    Yes     59.0        Mkt&Fin  69.72      Placed  295000.0
213    214      F  74.00   Others  66.00   Others  ...     No     70.0         Mkt&HR  60.23      Placed  204000.0
214    215      M  62.00  Central  58.00   Others  ...     No     89.0         Mkt&HR  60.22  Not Placed       NaN

[215 rows x 15 columns]

In [16]:
dataset.columns

Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s',
       'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'status', 'salary'],
      dtype='object')

In [ ]:
ðŸ‘‰ The Placement dataset has 15 rows Ã— 15 columns.

In [ ]:
<h2 style="color:purple">1. Replace the NaN values with correct value. And justify why you have
chosen the same.<h2 style="color:purple">

In [3]:
# Check null value
dataset.isnull().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

ðŸ‘‰ The dataset contains 67 null values in the salary column.

ðŸ‘‰ Missing values can be handled using different methods. 

In this case, we use <b>SimpleImputer</b> to fill the null values with the mean of the column.

In [17]:
#Impute missing values in a DataFrame.
def df_simple_impute(df, strategy="mean"):
    """
    Impute missing values in a DataFrame.    
    Parameters:
        df (pd.DataFrame): Input DataFrame
        strategy (str): "mean", "median", "most_frequent", or "constant"   
    Returns:
        pd.DataFrame: DataFrame with imputed values
    """
    import pandas as pd
    from sklearn.impute import SimpleImputer
    imputer = SimpleImputer(strategy=strategy)
    imputed_array = imputer.fit_transform(df)
    imputed_array = imputed_array.round(2)
    return pd.DataFrame(imputed_array, columns=df.columns)

    #---------------------------------------------------

#replace Null values
dataset['salary']=df_simple_impute(dataset[['salary']], strategy="mean")
#recheck null values
dataset['salary'].isnull().sum()

np.int64(0)

In [ ]:
<h4 style="color:blue"> Replaced-67 null values in the salary column </h4>

In [ ]:
<h2 style="color:purple">1.1 Download the dataset </h2>